<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageName">Profile Viewer | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/site.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.8.3.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/app/app.js")"></script>
    <script src="@Url.Content("~/Scripts/app/apihost.js")"></script>

</head>
<body style="background-color: #e5e5e5;">
    <div class="loader">
        <img src="@Url.Content("~/Content/loader.gif")" alt="" />
    </div>
    <div class="wrapper">
        @Html.Partial("_LoginPartial")
        <div class="main-content">
            <div class="top-bar d-flex pt-2 pb-2">
                <div class="col-md-2">
                    <a class="nav-bars" onclick="ToggleNavigation(event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-3 offset-md-7">
                    <input type="text" placeholder="Search Here..." id="searchGlobal" class="form-control pull-right" />
                </div>
            </div>
            <div class="base-view">
                @RenderBody()
            </div>
            <div class="footer">
                <p>&copy; - Copyright reserved to Shahjahan, 2020</p>
            </div>
        </div>
    </div>

</body>
</html>
